# tsl_loto_etl 実行ノートブック（PostgreSQL / Spark / SQLite）

このノートブックは、ロト系CSVを取得→整形→特徴量化（時系列変換 + 横持ち特徴量）→ **DB（PostgreSQL）/ Parquet / SQLite** へ書き込むETLを実行します。

- 推奨の配置: `C:\tsl\pipelines\tsl_loto_etl\`（このノートも同じ場所）
- 入力SQLite: `C:\lib_ana\src\dataset\base\data\loto.sqlite3`
- 出力（Parquet）: `C:\lib_ana\src\dataset\base\spark_out`
- 一時ディレクトリ（COPY用CSV）: `C:\tsl\tmp\loto_ts_pg`

## 1) セットアップ（パス・psql・表示補助）

- Windowsの `psql` 出力は文字コードが環境依存（CP932など）になりがちなので、**Decodeエラーを潰すラッパー**を使います。
- `PGPASSWORD` は `args.password` から環境変数で渡します（ノートに平文で残さない運用が理想）。

In [3]:
import os, sys, subprocess, textwrap

# === このノートが置かれている想定フォルダ（フルパス）===
PROJECT_DIR = r"C:\lib_ana\src\dataset\base"
os.chdir(PROJECT_DIR)
if PROJECT_DIR not in sys.path:
    sys.path.insert(0, PROJECT_DIR)

print("cwd =", os.getcwd())
print("sys.path[0] =", sys.path[0])

# === psql.exe のフルパス（あなたの環境に合わせて）===
PSQL_BIN = r"C:\tools\pgsql\postgresql-16.11\pgsql\bin\psql.exe"
assert os.path.exists(PSQL_BIN), f"psql.exe が見つかりません: {PSQL_BIN}"

def _decode_best(b: bytes) -> str:
    if not b:
        return ""
    for enc in ("cp932", "utf-8"):
        try:
            return b.decode(enc)
        except UnicodeDecodeError:
            pass
    return b.decode("cp932", errors="replace")

def psql(sql: str, *, host: str, port: str, db: str, user: str, password: str):
    # psql結果を必ずセルに表示する。Windowsの文字コード問題を回避する。
    env = dict(os.environ)
    env["PGPASSWORD"] = password
    cmd = [
        PSQL_BIN,
        "-h", host,
        "-p", str(port),
        "-U", user,
        "-d", db,
        "-v", "ON_ERROR_STOP=1",
        "-P", "pager=off",
        "-P", "footer=on",
        "-c", sql
    ]
    r = subprocess.run(cmd, capture_output=True, env=env)
    stdout = _decode_best(r.stdout).strip()
    stderr = _decode_best(r.stderr).strip()

    print("----- SQL -----")
    print(textwrap.dedent(sql).strip())
    print("----- STDOUT -----")
    print(stdout)
    if stderr:
        print("----- STDERR -----")
        print(stderr)
    if r.returncode != 0:
        raise RuntimeError(f"psql failed (returncode={r.returncode})")

print("psql helper ready")

cwd = C:\lib_ana\src\dataset\base
sys.path[0] = C:\lib_ana\src\dataset\base
psql helper ready

## 2) ETL実行（PostgreSQL例：引数を全部埋める）

- `backend='psql'` の場合、`host/port/db/user/password/schema/maintenance_db/psql_bin/tmp_dir` を埋めます。
- `psql_bin` は `psql` コマンド名でもフルパスでもOKですが、WindowsはPATH事故が多いので **フルパス推奨**です。

In [7]:
# Cell: setup + run (C:\lib_ana 用)

import os, sys
from types import SimpleNamespace

BASE = r"C:\lib_ana\src\dataset\base"

# 1) 実行基点（import・相対パス事故を防ぐ）
os.chdir(BASE)
if BASE not in sys.path:
    sys.path.insert(0, BASE)

from loto_y_ts_etl import main

args = SimpleNamespace(
    # ===== backend =====
    backend="sqlite",  # "psql" | "spark" | "sqlite"

    # ===== 入力（SQLite）=====
    sqlite_path=r"C:\lib_ana\src\dataset\base\data\loto.sqlite3",

    # ===== 出力（Spark/Parquet）=====
    spark_out=r"C:\lib_ana\src\dataset\base\spark_out",
    spark_master=None,

    # ===== PostgreSQL（psql backendで使用）=====
    host="127.0.0.1",
    port="5432",
    db="loto_db",
    user="loto_user",
    password="z",          # ← あなたのパスワードに置換
    schema="loto",                 # publicではなく専用schema推奨
    maintenance_db="postgres",
    psql_bin=r"C:\tools\pgsql\postgresql-16.11\pgsql\bin\psql.exe",

    # ===== 出力テーブル =====
    output_table="loto_y_ts",
    hist_table="loto_hist_feat",

    # ===== 実行モード =====
    mode="replace",
    lotos="mini,loto6,loto7,bingo5,numbers3,numbers4",

    # ===== COPY用の一時ディレクトリ（CSVが出ます）=====
    tmp_dir=r"C:\lib_ana\tmp\loto_ts_pg",
)

rc = main(args)
print("return_code =", rc)
assert rc == 0, "ETL が失敗しました（ログを確認してください）"

2026-02-09 16:49:19,340 - INFO - SQLite接続成功: path=C:\lib_ana\src\dataset\base\data\loto.sqlite3
2026-02-09 16:49:19,341 - WARNING - SQLiteでは schema=loto を無視します
2026-02-09 16:49:19,342 - INFO - Start ETL backend=sqlite mode=replace ts_table=loto_y_ts hist_table=loto_hist_feat
Processing mini...
Processing loto6...
Processing loto7...
Processing bingo5...
Processing numbers3...
Processing numbers4...
2026-02-09 16:49:23,904 - INFO - 定義された時系列変換: ['raw', 'cumsum', 'roll3_sum', 'roll7_mean', 'diff1', 'is_odd']
2026-02-09 16:49:25,374 - INFO - 最終データフレーム: (455946, 39). 6種類の時系列を生成。
2026-02-09 16:49:25,568 - INFO - 時系列テーブルデータ行数: 455946
2026-02-09 16:49:25,569 - INFO - 横持ち特徴量テーブルデータ行数: 75991
2026-02-09 16:51:00,793 - INFO - [OK] loto_y_ts: UPSERT完了（rows=455946）
2026-02-09 16:52:11,676 - INFO - [OK] loto_hist_feat: UPSERT完了（rows=75991）
2026-02-09 16:52:11,739 - INFO - 処理完了（SQLite）。所要時間: 172.49秒。
return_code = 0

## 3) 書き込み確認（DB/スキーマ/テーブル概要・列・制約・件数・サンプル）

psqlコマンドで **現物** を確認します（GUI不要）。

In [4]:
# 接続確認
psql(
    "SELECT current_database() AS db, current_user AS user, current_schema() AS current_schema, current_setting('search_path') AS search_path;",
    host=args.host, port=args.port, db=args.db, user=args.user, password=args.password
)

# スキーマ一覧
psql("""
SELECT nspname AS schema
FROM pg_namespace
WHERE nspname NOT LIKE 'pg_%' AND nspname <> 'information_schema'
ORDER BY 1;
""", host=args.host, port=args.port, db=args.db, user=args.user, password=args.password)

# テーブル一覧（schema内）
psql(f"""
SELECT table_name
FROM information_schema.tables
WHERE table_schema = '{args.schema}'
ORDER BY table_name;
""", host=args.host, port=args.port, db=args.db, user=args.user, password=args.password)

# 件数
psql(f"""
SELECT
  (SELECT COUNT(*) FROM {args.schema}.{args.output_table}) AS cnt_ts,
  (SELECT COUNT(*) FROM {args.schema}.{args.hist_table})   AS cnt_hist;
""", host=args.host, port=args.port, db=args.db, user=args.user, password=args.password)

# 列定義
psql(f"""
SELECT table_name, ordinal_position, column_name, data_type, is_nullable
FROM information_schema.columns
WHERE table_schema = '{args.schema}'
  AND table_name IN ('{args.output_table}', '{args.hist_table}')
ORDER BY table_name, ordinal_position;
""", host=args.host, port=args.port, db=args.db, user=args.user, password=args.password)

# 制約
psql(f"""
SELECT
  rel.relname AS table,
  con.conname AS name,
  con.contype AS type,
  pg_get_constraintdef(con.oid) AS definition
FROM pg_constraint con
JOIN pg_class rel ON rel.oid = con.conrelid
JOIN pg_namespace n ON n.oid = rel.relnamespace
WHERE n.nspname = '{args.schema}'
  AND rel.relname IN ('{args.output_table}', '{args.hist_table}')
ORDER BY rel.relname, con.contype, con.conname;
""", host=args.host, port=args.port, db=args.db, user=args.user, password=args.password)

# インデックス
psql(f"""
SELECT schemaname, tablename, indexname, indexdef
FROM pg_indexes
WHERE schemaname = '{args.schema}'
  AND tablename IN ('{args.output_table}', '{args.hist_table}')
ORDER BY tablename, indexname;
""", host=args.host, port=args.port, db=args.db, user=args.user, password=args.password)

# サンプル
psql(f"SELECT * FROM {args.schema}.{args.output_table} ORDER BY ds DESC LIMIT 20;",
     host=args.host, port=args.port, db=args.db, user=args.user, password=args.password)

psql(f"SELECT * FROM {args.schema}.{args.hist_table} ORDER BY ds DESC LIMIT 20;",
     host=args.host, port=args.port, db=args.db, user=args.user, password=args.password)

----- SQL -----
SELECT current_database() AS db, current_user AS user, current_schema() AS current_schema, current_setting('search_path') AS search_path;
----- STDOUT -----
db    |   user    | current_schema |   search_path
---------+-----------+----------------+-----------------
 loto_db | loto_user | public         | "$user", public
(1 行)
----- SQL -----
SELECT nspname AS schema
FROM pg_namespace
WHERE nspname NOT LIKE 'pg_%' AND nspname <> 'information_schema'
ORDER BY 1;
----- STDOUT -----
schema
--------
 loto
 public
(2 行)
----- SQL -----
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'loto'
ORDER BY table_name;
----- STDOUT -----
table_name
----------------
 loto_hist_feat
 loto_y_ts
(2 行)
----- SQL -----
SELECT
  (SELECT COUNT(*) FROM loto.loto_y_ts) AS cnt_ts,
  (SELECT COUNT(*) FROM loto.loto_hist_feat)   AS cnt_hist;
----- STDOUT -----
cnt_ts | cnt_hist
--------+----------
 455946 |    75991
(1 行)
----- SQL -----
SELECT table_name, ordinal_position, column_name, data_type, is_nullable
FROM information_schema.columns
WHERE table_schema = 'loto'
  AND table_name IN ('loto_y_ts', 'loto_hist_feat')
ORDER BY table_name, ordinal_position;
----- STDOUT -----
table_name   | ordinal_position | column_name  |          data_type          | is_nullable
----------------+------------------+--------------+-----------------------------+-------------
 loto_hist_feat |                1 | loto         | text                        | YES
 loto_hist_feat |                2 | ds           | date                        | YES
 loto_hist_feat |                3 | unique_id    | text                        | YES
 loto_hist_feat |                4 | hist_b1      | double precision            | YES
 loto_hist_feat |                5 | hist_pn1     | double precision            | YES
 loto_hist_feat |                6 | hist_pm1     | double precision            | YES
 loto_hist_feat |                7 | hist_pn2     | double precision            | YES
 loto_hist_feat |                8 | hist_pm2     | double precision            | YES
 loto_hist_feat |                9 | hist_pn3     | double precision            | YES
 loto_hist_feat |               10 | hist_pm3     | double precision            | YES
 loto_hist_feat |               11 | hist_pn4     | double precision            | YES
 loto_hist_feat |               12 | hist_pm4     | double precision            | YES
 loto_hist_feat |               13 | hist_b1_tens | double precision            | YES
 loto_hist_feat |               14 | hist_b1_ones | double precision            | YES
 loto_hist_feat |               15 | hist_pn5     | double precision            | YES
 loto_hist_feat |               16 | hist_pm5     | double precision            | YES
 loto_hist_feat |               17 | hist_co      | double precision            | YES
 loto_hist_feat |               18 | hist_b2      | double precision            | YES
 loto_hist_feat |               19 | hist_pn6     | double precision            | YES
 loto_hist_feat |               20 | hist_pm6     | double precision            | YES
 loto_hist_feat |               21 | hist_b2_tens | double precision            | YES
 loto_hist_feat |               22 | hist_b2_ones | double precision            | YES
 loto_hist_feat |               23 | hist_pn7     | double precision            | YES
 loto_hist_feat |               24 | hist_pm7     | double precision            | YES
 loto_hist_feat |               25 | hist_stc     | double precision            | YES
 loto_hist_feat |               26 | hist_stm     | double precision            | YES
 loto_hist_feat |               27 | hist_bxc     | double precision            | YES
 loto_hist_feat |               28 | hist_bxm     | double precision            | YES
 loto_hist_feat |               29 | hist_ssc     | double precision            | YES
 loto_hist_feat |               30 | hist_ssm     | double precision            | YES
 loto_hist_feat |               31 | hist_sbc     | double precision            | YES
 loto_hist_feat |               32 | hist_sbm     | double precision            | YES
 loto_hist_feat |               33 | hist_mnc     | double precision            | YES
 loto_hist_feat |               34 | hist_mnm     | double precision            | YES
 loto_hist_feat |               35 | exec_ts      | timestamp without time zone | YES
 loto_hist_feat |               36 | updated_ts   | timestamp without time zone | YES
 loto_hist_feat |               37 | proc_seconds | double precision            | YES
 loto_y_ts      |                1 | loto         | text                        | YES
 loto_y_ts      |                2 | ds           | date                        | YES
 loto_y_ts      |                3 | unique_id    | text                        | YES
 loto_y_ts      |                4 | ts_type      | text                        | YES
 loto_y_ts      |                5 | y            | double precision            | YES
 loto_y_ts      |                6 | exec_ts      | timestamp without time zone | YES
 loto_y_ts      |                7 | updated_ts   | timestamp without time zone | YES
 loto_y_ts      |                8 | proc_seconds | double precision            | YES
(45 行)
----- SQL -----
SELECT
  rel.relname AS table,
  con.conname AS name,
  con.contype AS type,
  pg_get_constraintdef(con.oid) AS definition
FROM pg_constraint con
JOIN pg_class rel ON rel.oid = con.conrelid
JOIN pg_namespace n ON n.oid = rel.relnamespace
WHERE n.nspname = 'loto'
  AND rel.relname IN ('loto_y_ts', 'loto_hist_feat')
ORDER BY rel.relname, con.contype, con.conname;
----- STDOUT -----
table | name | type | definition
-------+------+------+------------
(0 行)
----- SQL -----
SELECT schemaname, tablename, indexname, indexdef
FROM pg_indexes
WHERE schemaname = 'loto'
  AND tablename IN ('loto_y_ts', 'loto_hist_feat')
ORDER BY tablename, indexname;
----- STDOUT -----
schemaname |   tablename    |        indexname        |                                               indexdef
------------+----------------+-------------------------+------------------------------------------------------------------------------------------------------
 loto       | loto_hist_feat | uidx_loto_hist_feat_key | CREATE UNIQUE INDEX uidx_loto_hist_feat_key ON loto.loto_hist_feat USING btree (loto, ds, unique_id)
 loto       | loto_y_ts      | uidx_loto_y_ts_key      | CREATE UNIQUE INDEX uidx_loto_y_ts_key ON loto.loto_y_ts USING btree (loto, ds, unique_id, ts_type)
(2 行)
----- SQL -----
SELECT * FROM loto.loto_y_ts ORDER BY ds DESC LIMIT 20;
----- STDOUT -----
loto  |     ds     | unique_id |  ts_type   |         y          |          exec_ts           |         updated_ts         |   proc_seconds
-------+------------+-----------+------------+--------------------+----------------------------+----------------------------+-------------------
 loto7 | 2026-02-06 | N2        | is_odd     |                  0 | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7 | 2026-02-06 | N4        | raw        |                 11 | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7 | 2026-02-06 | N2        | raw        |                  6 | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7 | 2026-02-06 | N2        | diff1      |                 -8 | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7 | 2026-02-06 | N3        | roll3_sum  |                 42 | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7 | 2026-02-06 | N3        | is_odd     |                  0 | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7 | 2026-02-06 | N1        | roll3_sum  |                 15 | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7 | 2026-02-06 | N1        | is_odd     |                  0 | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7 | 2026-02-06 | N2        | roll3_sum  |                 32 | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7 | 2026-02-06 | N2        | roll7_mean |  9.857142857142858 | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7 | 2026-02-06 | N3        | raw        |                 10 | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7 | 2026-02-06 | N3        | cumsum     |               9478 | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7 | 2026-02-06 | N3        | roll7_mean | 13.571428571428571 | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7 | 2026-02-06 | N3        | diff1      |                 -5 | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7 | 2026-02-06 | N1        | raw        |                  4 | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7 | 2026-02-06 | N1        | cumsum     |               3325 | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7 | 2026-02-06 | N1        | roll7_mean |  5.714285714285714 | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7 | 2026-02-06 | N1        | diff1      |                  0 | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7 | 2026-02-06 | N2        | cumsum     |               6401 | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7 | 2026-02-06 | N4        | cumsum     |              12581 | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
(20 行)
----- SQL -----
SELECT * FROM loto.loto_hist_feat ORDER BY ds DESC LIMIT 20;
----- STDOUT -----
loto   |     ds     | unique_id | hist_b1 | hist_pn1 | hist_pm1  | hist_pn2 | hist_pm2 | hist_pn3 | hist_pm3 | hist_pn4 | hist_pm4 | hist_b1_tens | hist_b1_ones | hist_pn5 | hist_pm5 |  hist_co   | hist_b2 | hist_pn6 | hist_pm6 | hist_b2_tens | hist_b2_ones | hist_pn7 | hist_pm7 | hist_stc | hist_stm | hist_bxc | hist_bxm | hist_ssc | hist_ssm | hist_sbc | hist_sbm | hist_mnc | hist_mnm |          exec_ts           |         updated_ts         |   proc_seconds
----------+------------+-----------+---------+----------+-----------+----------+----------+----------+----------+----------+----------+--------------+--------------+----------+----------+------------+---------+----------+----------+--------------+--------------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------------------------+----------------------------+-------------------
 numbers4 | 2026-02-06 | N2        |         |          |           |          |          |          |          |          |          |              |              |          |          |            |         |          |          |              |              |          |          |       17 |  1402500 |      259 |    58400 |       38 |   730400 |     1055 |    29200 |          |          | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 numbers3 | 2026-02-06 | N2        |         |          |           |          |          |          |          |          |          |              |              |          |          |            |         |          |          |              |              |          |          |       67 |   123500 |      134 |    41100 |      143 |    82300 |      271 |    20500 |      465 |    12300 | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 numbers4 | 2026-02-06 | N4        |         |          |           |          |          |          |          |          |          |              |              |          |          |            |         |          |          |              |              |          |          |       17 |  1402500 |      259 |    58400 |       38 |   730400 |     1055 |    29200 |          |          | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 numbers3 | 2026-02-06 | N1        |         |          |           |          |          |          |          |          |          |              |              |          |          |            |         |          |          |              |              |          |          |       67 |   123500 |      134 |    41100 |      143 |    82300 |      271 |    20500 |      465 |    12300 | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 numbers3 | 2026-02-06 | N3        |         |          |           |          |          |          |          |          |          |              |              |          |          |            |         |          |          |              |              |          |          |       67 |   123500 |      134 |    41100 |      143 |    82300 |      271 |    20500 |      465 |    12300 | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7    | 2026-02-06 | N5        |      25 |        0 |         0 |        9 |  8294400 |      193 |   445500 |     8470 |     6100 |            2 |            5 |   134057 |     1300 | 2123132130 |      32 |   215089 |     1000 |            3 |            2 |          |          |          |          |          |          |          |          |          |          |          |          | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 numbers4 | 2026-02-06 | N1        |         |          |           |          |          |          |          |          |          |              |              |          |          |            |         |          |          |              |              |          |          |       17 |  1402500 |      259 |    58400 |       38 |   730400 |     1055 |    29200 |          |          | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 numbers4 | 2026-02-06 | N3        |         |          |           |          |          |          |          |          |          |              |              |          |          |            |         |          |          |              |              |          |          |       17 |  1402500 |      259 |    58400 |       38 |   730400 |     1055 |    29200 |          |          | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7    | 2026-02-06 | N4        |      25 |        0 |         0 |        9 |  8294400 |      193 |   445500 |     8470 |     6100 |            2 |            5 |   134057 |     1300 | 2123132130 |      32 |   215089 |     1000 |            3 |            2 |          |          |          |          |          |          |          |          |          |          |          |          | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7    | 2026-02-06 | N3        |      25 |        0 |         0 |        9 |  8294400 |      193 |   445500 |     8470 |     6100 |            2 |            5 |   134057 |     1300 | 2123132130 |      32 |   215089 |     1000 |            3 |            2 |          |          |          |          |          |          |          |          |          |          |          |          | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7    | 2026-02-06 | N2        |      25 |        0 |         0 |        9 |  8294400 |      193 |   445500 |     8470 |     6100 |            2 |            5 |   134057 |     1300 | 2123132130 |      32 |   215089 |     1000 |            3 |            2 |          |          |          |          |          |          |          |          |          |          |          |          | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7    | 2026-02-06 | N6        |      25 |        0 |         0 |        9 |  8294400 |      193 |   445500 |     8470 |     6100 |            2 |            5 |   134057 |     1300 | 2123132130 |      32 |   215089 |     1000 |            3 |            2 |          |          |          |          |          |          |          |          |          |          |          |          | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7    | 2026-02-06 | N1        |      25 |        0 |         0 |        9 |  8294400 |      193 |   445500 |     8470 |     6100 |            2 |            5 |   134057 |     1300 | 2123132130 |      32 |   215089 |     1000 |            3 |            2 |          |          |          |          |          |          |          |          |          |          |          |          | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto7    | 2026-02-06 | N7        |      25 |        0 |         0 |        9 |  8294400 |      193 |   445500 |     8470 |     6100 |            2 |            5 |   134057 |     1300 | 2123132130 |      32 |   215089 |     1000 |            3 |            2 |          |          |          |          |          |          |          |          |          |          |          |          | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto6    | 2026-02-05 | N4        |      11 |        4 | 281563500 |       18 |  4987900 |      649 |   149400 |    19672 |     5200 |            1 |            1 |   263713 |     1000 |          0 |         |          |          |              |              |          |          |          |          |          |          |          |          |          |          |          |          | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto6    | 2026-02-05 | N3        |      11 |        4 | 281563500 |       18 |  4987900 |      649 |   149400 |    19672 |     5200 |            1 |            1 |   263713 |     1000 |          0 |         |          |          |              |              |          |          |          |          |          |          |          |          |          |          |          |          | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto6    | 2026-02-05 | N5        |      11 |        4 | 281563500 |       18 |  4987900 |      649 |   149400 |    19672 |     5200 |            1 |            1 |   263713 |     1000 |          0 |         |          |          |              |              |          |          |          |          |          |          |          |          |          |          |          |          | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto6    | 2026-02-05 | N2        |      11 |        4 | 281563500 |       18 |  4987900 |      649 |   149400 |    19672 |     5200 |            1 |            1 |   263713 |     1000 |          0 |         |          |          |              |              |          |          |          |          |          |          |          |          |          |          |          |          | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363
 loto6    | 2026-02-05 | N1        |      11 |        4 | 281563500 |       18 |  4987900 |      649 |   149400 |    19672 |     5200 |            1 |            1 |   263713 |     1000 |          0 |         |          |          |              |              |          |          |          |          |          |          |          |          |          |          |          |          | 2026-02-09 16:42:43.695265 | 2026-02-09 16:42:43.695265 | 6.106518745422363

## 4) SQLiteで確認したい場合（オプション）

DBを使わずローカルだけで確認したいときの補助です。

In [8]:
import sqlite3
import pandas as pd

sqlite_path = r"C:\lib_ana\src\dataset\base\data\loto.sqlite3"
conn = sqlite3.connect(sqlite_path)

df_tables = pd.read_sql_query(
    "SELECT name AS table_name FROM sqlite_master WHERE type='table' ORDER BY name;",
    conn
)
display(df_tables)

def sqlite_table_info(table: str) -> pd.DataFrame:
    return pd.read_sql_query(f"PRAGMA table_info('{table}');", conn)

display(sqlite_table_info("loto_y_ts"))
display(sqlite_table_info("loto_hist_feat"))

df_counts = pd.DataFrame({
    "table": ["loto_y_ts","loto_hist_feat"],
    "rows": [
        pd.read_sql_query("SELECT COUNT(*) AS n FROM loto_y_ts;", conn)["n"][0],
        pd.read_sql_query("SELECT COUNT(*) AS n FROM loto_hist_feat;", conn)["n"][0],
    ]
})
display(df_counts)

display(pd.read_sql_query("SELECT * FROM loto_y_ts LIMIT 20;", conn))
display(pd.read_sql_query("SELECT * FROM loto_hist_feat LIMIT 20;", conn))

       table_name
0  loto_hist_feat
1       loto_y_ts

   cid          name      type  notnull dflt_value  pk
0    0          loto      TEXT        0       None   0
1    1            ds      TEXT        0       None   0
2    2     unique_id      TEXT        0       None   0
3    3       ts_type      TEXT        0       None   0
4    4             y     FLOAT        0       None   0
5    5       exec_ts  DATETIME        0       None   0
6    6    updated_ts  DATETIME        0       None   0
7    7  proc_seconds     FLOAT        0       None   0

    cid          name      type  notnull dflt_value  pk
0     0          loto      TEXT        0       None   0
1     1            ds      TEXT        0       None   0
2     2     unique_id      TEXT        0       None   0
3     3       hist_b1     FLOAT        0       None   0
4     4      hist_pn1     FLOAT        0       None   0
5     5      hist_pm1     FLOAT        0       None   0
6     6      hist_pn2     FLOAT        0       None   0
7     7      hist_pm2     FLOAT        0       None   0
8     8      hist_pn3     FLOAT        0       None   0
9     9      hist_pm3     FLOAT        0       None   0
10   10      hist_pn4     FLOAT        0       None   0
11   11      hist_pm4     FLOAT        0       None   0
12   12  hist_b1_tens     FLOAT        0       None   0
13   13  hist_b1_ones     FLOAT        0       None   0
14   14      hist_pn5     FLOAT        0       None   0
15   15      hist_pm5     FLOAT        0       None   0
16   16       hist_co     FLOAT        0       None   0
17   17       hist_b2     FLOAT        0       None   0
18   18      hist_pn6     FLOAT        0       None   0
19   19      hist_pm6     FLOAT        0       None   0
20   20  hist_b2_tens     FLOAT        0       None   0
21   21  hist_b2_ones     FLOAT        0       None   0
22   22      hist_pn7     FLOAT        0       None   0
23   23      hist_pm7     FLOAT        0       None   0
24   24      hist_stc     FLOAT        0       None   0
25   25      hist_stm     FLOAT        0       None   0
26   26      hist_bxc     FLOAT        0       None   0
27   27      hist_bxm     FLOAT        0       None   0
28   28      hist_ssc     FLOAT        0       None   0
29   29      hist_ssm     FLOAT        0       None   0
30   30      hist_sbc     FLOAT        0       None   0
31   31      hist_sbm     FLOAT        0       None   0
32   32      hist_mnc     FLOAT        0       None   0
33   33      hist_mnm     FLOAT        0       None   0
34   34       exec_ts  DATETIME        0       None   0
35   35    updated_ts  DATETIME        0       None   0
36   36  proc_seconds     FLOAT        0       None   0

            table    rows
0       loto_y_ts  455946
1  loto_hist_feat   75991

,loto,ds,unique_id,ts_type,y,exec_ts,updated_ts,proc_seconds
0,mini,1999-04-13,N1,raw,1.0,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
1,mini,1999-04-27,N1,raw,2.0,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
2,mini,1999-05-11,N1,raw,1.0,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
3,mini,1999-05-25,N1,raw,11.0,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
4,mini,1999-06-08,N1,raw,8.0,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
5,mini,1999-06-22,N1,raw,2.0,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
6,mini,1999-07-06,N1,raw,3.0,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
7,mini,1999-07-20,N1,raw,22.0,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
8,mini,1999-08-03,N1,raw,2.0,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
9,mini,1999-08-17,N1,raw,8.0,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
10,mini,1999-08-31,N1,raw,17.0,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
11,mini,1999-09-14,N1,raw,5.0,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
12,mini,1999-09-28,N1,raw,6.0,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
13,mini,1999-10-05,N1,raw,2.0,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
14,mini,1999-10-12,N1,raw,6.0,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
15,mini,1999-10-19,N1,raw,2.0,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
16,mini,1999-10-26,N1,raw,10.0,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
17,mini,1999-11-02,N1,raw,1.0,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
18,mini,1999-11-09,N1,raw,2.0,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
19,mini,1999-11-16,N1,raw,14.0,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153

,loto,ds,unique_id,hist_b1,hist_pn1,hist_pm1,hist_pn2,hist_pm2,hist_pn3,hist_pm3,...,hist_bxm,hist_ssc,hist_ssm,hist_sbc,hist_sbm,hist_mnc,hist_mnm,exec_ts,updated_ts,proc_seconds
0,mini,1999-04-13,N1,26.0,29.0,6090500.0,46.0,275800.0,2331.0,9400.0,...,None,None,None,None,None,None,None,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
1,mini,1999-04-27,N1,28.0,11.0,16868900.0,35.0,380800.0,1672.0,13800.0,...,None,None,None,None,None,None,None,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
2,mini,1999-05-11,N1,28.0,17.0,11481000.0,34.0,412400.0,2014.0,12000.0,...,None,None,None,None,None,None,None,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
3,mini,1999-05-25,N1,29.0,5.0,38866300.0,35.0,398800.0,1055.0,22900.0,...,None,None,None,None,None,None,None,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
4,mini,1999-06-08,N1,23.0,18.0,11107000.0,54.0,265900.0,2029.0,12200.0,...,None,None,None,None,None,None,None,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
5,mini,1999-06-22,N1,4.0,70.0,3181000.0,239.0,66900.0,4162.0,6600.0,...,None,None,None,None,None,None,None,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
6,mini,1999-07-06,N1,2.0,3.0,40000000.0,57.0,2381300.0,1289.0,23000.0,...,None,None,None,None,None,None,None,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
7,mini,1999-07-20,N1,21.0,16.0,13732500.0,77.0,205000.0,1677.0,16300.0,...,None,None,None,None,None,None,None,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
8,mini,1999-08-03,N1,15.0,27.0,7304600.0,93.0,152300.0,2856.0,8500.0,...,None,None,None,None,None,None,None,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
9,mini,1999-08-17,N1,5.0,15.0,13787900.0,121.0,122700.0,2004.0,12800.0,...,None,None,None,None,None,None,None,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
10,mini,1999-08-31,N1,31.0,39.0,6090900.0,216.0,79000.0,3872.0,7600.0,...,None,None,None,None,None,None,None,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
11,mini,1999-09-14,N1,21.0,25.0,9913700.0,111.0,160400.0,2845.0,10800.0,...,None,None,None,None,None,None,None,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
12,mini,1999-09-28,N1,20.0,31.0,7272900.0,107.0,151300.0,2956.0,9400.0,...,None,None,None,None,None,None,None,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
13,mini,1999-10-05,N1,28.0,8.0,38358600.0,105.0,209900.0,2533.0,15000.0,...,None,None,None,None,None,None,None,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
14,mini,1999-10-12,N1,22.0,22.0,15686200.0,101.0,245400.0,3053.0,14000.0,...,None,None,None,None,None,None,None,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
15,mini,1999-10-19,N1,23.0,12.0,31351600.0,95.0,284500.0,3047.0,15300.0,...,None,None,None,None,None,None,None,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
16,mini,1999-10-26,N1,1.0,13.0,30661600.0,102.0,280700.0,3208.0,15400.0,...,None,None,None,None,None,None,None,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
17,mini,1999-11-02,N1,27.0,33.0,12129100.0,174.0,165200.0,3684.0,13500.0,...,None,None,None,None,None,None,None,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
18,mini,1999-11-09,N1,1.0,27.0,13931700.0,93.0,290500.0,4040.0,11500.0,...,None,None,None,None,None,None,None,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153
19,mini,1999-11-16,N1,15.0,12.0,30271600.0,62.0,420900.0,3178.0,14200.0,...,None,None,None,None,None,None,None,2026-02-09 16:49:19.248642,2026-02-09 16:49:19.248642,5.925153

In [9]:
import os
from pyspark.sql import SparkSession

BASE_OUT = r"C:\lib_ana\src\dataset\base\spark_out"
TS_PATH   = os.path.join(BASE_OUT, "loto_y_ts")
HIST_PATH = os.path.join(BASE_OUT, "loto_hist_feat")

spark = (SparkSession.builder
         .appName("inspect_parquet")
         .master("local[*]")     # ローカル確認
         .getOrCreate())

def inspect_parquet(path: str, name: str):
    print(f"\n=== {name} ===")
    print("path:", path)
    df = spark.read.parquet(path)
    print("rows:", df.count(), "cols:", len(df.columns))
    df.printSchema()
    df.show(20, truncate=False)

inspect_parquet(TS_PATH, "loto_y_ts")
inspect_parquet(HIST_PATH, "loto_hist_feat")

# ちょい便利：SQLっぽく見たい場合
spark.read.parquet(TS_PATH).createOrReplaceTempView("loto_y_ts")
spark.sql("SELECT loto, ts_type, COUNT(*) AS n FROM loto_y_ts GROUP BY loto, ts_type ORDER BY loto, ts_type").show(200, truncate=False)

=== loto_y_ts ===
path: C:\lib_ana\src\dataset\base\spark_out\loto_y_ts
rows: 455946 cols: 8
root
 |-- loto: string (nullable = true)
 |-- ds: date (nullable = true)
 |-- unique_id: string (nullable = true)
 |-- ts_type: string (nullable = true)
 |-- y: double (nullable = true)
 |-- exec_ts: timestamp (nullable = true)
 |-- updated_ts: timestamp (nullable = true)
 |-- proc_seconds: double (nullable = true)

+--------+----------+---------+-------+---+--------------------------+--------------------------+-----------------+
|loto    |ds        |unique_id|ts_type|y  |exec_ts                   |updated_ts                |proc_seconds     |
+--------+----------+---------+-------+---+--------------------------+--------------------------+-----------------+
|numbers4|2012-03-16|N4       |raw    |6.0|2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers4|2012-03-19|N4       |raw    |4.0|2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers4|2012-03-20|N4       |raw    |8.0|2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers4|2012-03-21|N4       |raw    |9.0|2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers4|2012-03-22|N4       |raw    |8.0|2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers4|2012-03-23|N4       |raw    |9.0|2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers4|2012-03-26|N4       |raw    |1.0|2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers4|2012-03-27|N4       |raw    |5.0|2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers4|2012-03-28|N4       |raw    |9.0|2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers4|2012-03-29|N4       |raw    |8.0|2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers4|2012-03-30|N4       |raw    |1.0|2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers4|2012-04-02|N4       |raw    |0.0|2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers4|2012-04-03|N4       |raw    |0.0|2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers4|2012-04-04|N4       |raw    |4.0|2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers4|2012-04-05|N4       |raw    |2.0|2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers4|2012-04-06|N4       |raw    |2.0|2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers4|2012-04-09|N4       |raw    |1.0|2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers4|2012-04-10|N4       |raw    |7.0|2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers4|2012-04-11|N4       |raw    |9.0|2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers4|2012-04-12|N4       |raw    |7.0|2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
+--------+----------+---------+-------+---+--------------------------+--------------------------+-----------------+
only showing top 20 rows

=== loto_hist_feat ===
path: C:\lib_ana\src\dataset\base\spark_out\loto_hist_feat
rows: 75991 cols: 37
root
 |-- loto: string (nullable = true)
 |-- ds: date (nullable = true)
 |-- unique_id: string (nullable = true)
 |-- hist_b1: double (nullable = true)
 |-- hist_pn1: double (nullable = true)
 |-- hist_pm1: double (nullable = true)
 |-- hist_pn2: double (nullable = true)
 |-- hist_pm2: double (nullable = true)
 |-- hist_pn3: double (nullable = true)
 |-- hist_pm3: double (nullable = true)
 |-- hist_pn4: double (nullable = true)
 |-- hist_pm4: double (nullable = true)
 |-- hist_b1_tens: double (nullable = true)
 |-- hist_b1_ones: double (nullable = true)
 |-- hist_pn5: double (nullable = true)
 |-- hist_pm5: double (nullable = true)
 |-- hist_co: double (nullable = true)
 |-- hist_b2: double (nullable = true)
 |-- hist_pn6: double (nullable = true)
 |-- hist_pm6: double (nullable = true)
 |-- hist_b2_tens: double (nullable = true)
 |-- hist_b2_ones: double (nullable = true)
 |-- hist_pn7: double (nullable = true)
 |-- hist_pm7: double (nullable = true)
 |-- hist_stc: double (nullable = true)
 |-- hist_stm: double (nullable = true)
 |-- hist_bxc: double (nullable = true)
 |-- hist_bxm: double (nullable = true)
 |-- hist_ssc: double (nullable = true)
 |-- hist_ssm: double (nullable = true)
 |-- hist_sbc: double (nullable = true)
 |-- hist_sbm: double (nullable = true)
 |-- hist_mnc: double (nullable = true)
 |-- hist_mnm: double (nullable = true)
 |-- exec_ts: timestamp (nullable = true)
 |-- updated_ts: timestamp (nullable = true)
 |-- proc_seconds: double (nullable = true)

+--------+----------+---------+-------+--------+--------+--------+--------+--------+--------+--------+--------+------------+------------+--------+--------+-------+-------+--------+--------+------------+------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------------------------+--------------------------+-----------------+
|loto    |ds        |unique_id|hist_b1|hist_pn1|hist_pm1|hist_pn2|hist_pm2|hist_pn3|hist_pm3|hist_pn4|hist_pm4|hist_b1_tens|hist_b1_ones|hist_pn5|hist_pm5|hist_co|hist_b2|hist_pn6|hist_pm6|hist_b2_tens|hist_b2_ones|hist_pn7|hist_pm7|hist_stc|hist_stm|hist_bxc|hist_bxm|hist_ssc|hist_ssm|hist_sbc|hist_sbm|hist_mnc|hist_mnm|exec_ts                   |updated_ts                |proc_seconds     |
+--------+----------+---------+-------+--------+--------+--------+--------+--------+--------+--------+--------+------------+------------+--------+--------+-------+-------+--------+--------+------------+------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------------------------+--------------------------+-----------------+
|numbers3|2009-06-05|N3       |NaN    |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |NaN    |NaN    |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |191.0   |65100.0 |547.0   |10800.0 |381.0   |37900.0 |1133.0  |5400.0  |677.0   |6500.0  |2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers3|2009-06-08|N3       |NaN    |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |NaN    |NaN    |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |215.0   |65500.0 |893.0   |10900.0 |347.0   |38200.0 |1682.0  |5400.0  |552.0   |6500.0  |2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers3|2009-06-09|N3       |NaN    |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |NaN    |NaN    |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |66.0    |122200.0|214.0   |40700.0 |137.0   |81400.0 |233.0   |20300.0 |539.0   |12200.0 |2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers3|2009-06-10|N3       |NaN    |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |NaN    |NaN    |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |100.0   |103300.0|393.0   |17200.0 |203.0   |60200.0 |814.0   |8600.0  |291.0   |10300.0 |2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers3|2009-06-11|N3       |NaN    |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |NaN    |NaN    |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |62.0    |144000.0|367.0   |24000.0 |101.0   |84000.0 |778.0   |12000.0 |397.0   |14400.0 |2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers3|2009-06-12|N3       |NaN    |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |NaN    |NaN    |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |112.0   |77500.0 |627.0   |12900.0 |250.0   |45200.0 |1222.0  |6400.0  |953.0   |7700.0  |2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers3|2009-06-15|N3       |NaN    |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |NaN    |NaN    |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |98.0    |109000.0|604.0   |18100.0 |218.0   |63500.0 |1137.0  |9000.0  |687.0   |10900.0 |2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers3|2009-06-16|N3       |NaN    |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |NaN    |NaN    |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |215.0   |54100.0 |740.0   |9000.0  |454.0   |31500.0 |1445.0  |4500.0  |529.0   |5400.0  |2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers3|2009-06-17|N3       |NaN    |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |NaN    |NaN    |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |87.0    |92400.0 |647.0   |15400.0 |192.0   |53900.0 |1307.0  |7700.0  |485.0   |9200.0  |2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers3|2009-06-18|N3       |NaN    |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |NaN    |NaN    |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |284.0   |55100.0 |560.0   |9100.0  |463.0   |32100.0 |1002.0  |4500.0  |562.0   |5500.0  |2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers3|2009-06-19|N3       |NaN    |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |NaN    |NaN    |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |61.0    |126700.0|514.0   |21100.0 |145.0   |73900.0 |1007.0  |10500.0 |424.0   |12600.0 |2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers3|2009-06-22|N3       |NaN    |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |NaN    |NaN    |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |301.0   |50900.0 |964.0   |8400.0  |628.0   |29600.0 |1462.0  |4200.0  |568.0   |5000.0  |2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers3|2009-06-23|N3       |NaN    |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |NaN    |NaN    |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |97.0    |89500.0 |499.0   |14900.0 |261.0   |52200.0 |1057.0  |7400.0  |373.0   |8900.0  |2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers3|2009-06-24|N3       |NaN    |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |NaN    |NaN    |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |107.0   |89300.0 |234.0   |29700.0 |224.0   |59500.0 |318.0   |14800.0 |688.0   |8900.0  |2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers3|2009-06-25|N3       |NaN    |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |NaN    |NaN    |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |120.0   |97600.0 |403.0   |16200.0 |232.0   |56900.0 |811.0   |8100.0  |498.0   |9700.0  |2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers3|2009-06-26|N3       |NaN    |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |NaN    |NaN    |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |150.0   |74400.0 |561.0   |12400.0 |350.0   |43400.0 |1156.0  |6200.0  |580.0   |7400.0  |2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers3|2009-06-29|N3       |NaN    |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |NaN    |NaN    |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |253.0   |76000.0 |670.0   |12600.0 |298.0   |44300.0 |1139.0  |6300.0  |503.0   |7600.0  |2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers3|2009-06-30|N3       |NaN    |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |NaN    |NaN    |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |91.0    |95700.0 |547.0   |15900.0 |175.0   |55800.0 |1151.0  |7900.0  |569.0   |9500.0  |2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers3|2009-07-01|N3       |NaN    |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |NaN    |NaN    |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |77.0    |117800.0|433.0   |19600.0 |146.0   |68700.0 |982.0   |9800.0  |406.0   |11700.0 |2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
|numbers3|2009-07-02|N3       |NaN    |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |NaN    |NaN    |NaN     |NaN     |NaN         |NaN         |NaN     |NaN     |104.0   |113400.0|228.0   |37800.0 |123.0   |75600.0 |351.0   |18900.0 |599.0   |11300.0 |2026-02-09 16:47:28.189389|2026-02-09 16:47:28.189389|5.112370491027832|
+--------+----------+---------+-------+--------+--------+--------+--------+--------+--------+--------+--------+------------+------------+--------+--------+-------+-------+--------+--------+------------+------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------------------------+--------------------------+-----------------+
only showing top 20 rows
+--------+----------+-----+
|loto    |ts_type   |n    |
+--------+----------+-----+
|bingo5  |cumsum    |3648 |
|bingo5  |diff1     |3648 |
|bingo5  |is_odd    |3648 |
|bingo5  |raw       |3648 |
|bingo5  |roll3_sum |3648 |
|bingo5  |roll7_mean|3648 |
|loto6   |cumsum    |12444|
|loto6   |diff1     |12444|
|loto6   |is_odd    |12444|
|loto6   |raw       |12444|
|loto6   |roll3_sum |12444|
|loto6   |roll7_mean|12444|
|loto7   |cumsum    |4641 |
|loto7   |diff1     |4641 |
|loto7   |is_odd    |4641 |
|loto7   |raw       |4641 |
|loto7   |roll3_sum |4641 |
|loto7   |roll7_mean|4641 |
|mini    |cumsum    |6860 |
|mini    |diff1     |6860 |
|mini    |is_odd    |6860 |
|mini    |raw       |6860 |
|mini    |roll3_sum |6860 |
|mini    |roll7_mean|6860 |
|numbers3|cumsum    |20742|
|numbers3|diff1     |20742|
|numbers3|is_odd    |20742|
|numbers3|raw       |20742|
|numbers3|roll3_sum |20742|
|numbers3|roll7_mean|20742|
|numbers4|cumsum    |27656|
|numbers4|diff1     |27656|
|numbers4|is_odd    |27656|
|numbers4|raw       |27656|
|numbers4|roll3_sum |27656|
|numbers4|roll7_mean|27656|
+--------+----------+-----+